@{
    ViewBag.Title = "Liên hệ";
}
<br />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
/*    p.round2 {
        border: 2px solid none;
        border-radius: 6px;
        margin:auto;
        text-align:left;
        margin-top:4px;
        background-color:white;
        font-size:20px;
        height:180px;
        width:600px;
    }
    .abc {
        border: 2px solid green;
        margin-left:200px;
        background-color: white;
        width: 150px;
        text-align:center;
        font-family:'Lucida Handwriting';
        margin-top:40px;
    }*/
    p.round2 {
        border: 2px solid none;
        border-radius: 6px;
        margin: auto;
        text-align: left;
    }
    .lienhe{
        width:1200px;    
        height:550px;
        margin:0 auto;
        padding-top:30px;
    }
    #Dchi {
        width: 200px;
        float: left;
        line-height:1.6;
        border: 2px solid none;
        border-radius: 6px;
        margin: auto;
        text-align: left;
    }
    #Lhe {
        width: 300px;
        float: right;
        
        border: 2px solid none;
        border-radius: 6px;
        margin: auto;
        text-align: left;
    }
</style>
<div class="lienhe">
    <div id="Dchi">
        <h2>Liên hệ</h2>
        <p class="round2">
            <br />
            <strong>Địa chỉ:<br /></strong> <span style="font-family:'Comic Sans MS';">306/100 Xô Viết Nghệ Tĩnh, Phường 25, Quận Bình Thạnh, Thành phố Hồ Chí Minh</span><br />
            <strong>Phone number:<br /></strong>    <span style="font-family:'Comic Sans MS'"> 0987654125</span>
            <br /><strong>Email: </strong> <span style="font-family:'Comic Sans MS'">Longndb218@uef.edu.vn</span>
        </p>
    </div>
    <div id="Lhe">
        <h2 class="abc">Fanpage</h2>
        <p class="round2" style="line-height:32px;padding-bottom:40px;">
            <br />
            <i class="fa fa-facebook-f" style="font-size:36px;line-height:0.7;"></i>&emsp;&emsp;&emsp;&emsp; <a href="https://www.facebook.com/"><span style="font-family:'Comic Sans MS';">Bảo Long</span></a><br />
            <i class="fa fa-instagram" style="font-size:36px;line-height:1.6;"></i> &emsp;&emsp;&emsp;&ensp;<a href="https://www.instagram.com/"><span style="font-family:'Comic Sans MS'">SellShopOn</span></a><br />
            <i class="fa fa-youtube-play" style="font-size:36px;line-height:1.6;"></i>&emsp;&emsp;&emsp;&ensp;<a href="https://www.youtube.com/"><span style="font-family:'Comic Sans MS'">Sell Mobile Shop Online</span></a>
        </p>
    </div>
    
    <div id="map" style="padding-top:50px;margin:auto;padding-left:250px;padding-top:90px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1808918332636!2d106.70105211464501!3d10.797453561758049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b70255f141%3A0xaf965be82ec2ef0!2zMTQxIMSQaeG7h24gQmnDqm4gUGjhu6csIFBoxrDhu51uZyAxNSwgQsOsbmggVGjhuqFuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1618827602616!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
